{% assign eroge = include.eroge %}
<div class="eroge {{ eroge.focus }}" data-difficulty="{{ eroge.difficulty }}" data-first-exp="{{ eroge.first_exp }}">
    <div class="image">{% include eroge/image.html eroge=eroge %}</div>
    <h2 class="title">{% include eroge/title.html eroge=eroge %}</h2>
    <div class="tags">{% include eroge/tags.html eroge=eroge %}</div>
    <dl class="info">
        <!-- <dt>Difficulty</dt><dd>{% include eroge/rating.html eroge=eroge %}</dd> -->
        <dt>Should this be my first eroge?</dt><dd>{% include eroge/first-exp.html eroge=eroge %}</dd>
        <dt>Releases Available</dt>{% include eroge/age.html eroge=eroge %}
    </dl>
    <dl class="reasons">
        {% include eroge/reasons.html eroge=eroge %}
        {% if eroge.hookcode %}
            <dt>Hook code</dt>
            {% include eroge/hookcode.html eroge=eroge %}
        {% endif %}
    </dl>
</div>
