{% assign eroge = include.eroge %}
<tr class="eroge {{ eroge.focus }}" data-difficulty="{{eroge.difficulty}}" data-first-exp="{{ eroge.first_exp }}" data-age="{{ eroge.age_rating[0] }}">
    <td class="image">{% include eroge/image.html eroge=eroge %}</div>
    <td class="title">{% include eroge/title.html eroge=eroge %}</h2>
    <td class="tags">{% include eroge/tags.html eroge=eroge %}</div>
    <!-- <td class="info difficulty">
        {% include eroge/rating.html eroge=eroge %}
    </td> -->
    <td class="info first-exp" >
        {% include eroge/first-exp.html eroge=eroge %}
    </td>
    <td class="info age-rating">
        {% include eroge/age.html eroge=eroge %}
    </td>
    <td class="reasons">{% include eroge/reasons.html eroge=eroge %}</td>
    <td class="hookcode">{% include eroge/hookcode.html eroge=eroge %}</td>
</tr>
