<tr>
    <th class="image">Img</th>
    <th class="title">Title</th>
    <th class="tags">Tags</th>
    <!-- <th class="info difficulty">Difficulty</th> -->
    <th class="info first-exp">First Experience?</th>
    <th class="info age-rating">Age Rating(s)</th>
    <th class="reasons">Reasons</th>
    <th class="hookcode">Hookcode</th>
</tr>
