<section>
    <h2>Preface</h2>
    <p>Some things to keep in mind when using this list:</p>
    <p>This list isn't intended to be the end all list to which people should restrict themselves to, but as a tool that people can use to recommend things that they read while starting out and share their experiences on with how challenging they were to tackle. Those that have no idea on what to read can make use of it for ideas on what to play and an idea on how the struggle will be like.</p>
    <p>Please don't feel that you should only stick to things listed on it, if there's something you want to play that isn't, then feel free to just try it out and see how it goes and maybe one day you'll be sending it in as a recommendation.</p>
    <p>The list isn't only just for titles which can be played as a first experience, but also a bit beyond that. There are also titles on it which would be better to play after acquiring a few titles worth of experience first and thus are marked as so in the "Recommended as first experience" section.</p>

    <p>If you have any titles you wish to recommend or if you've noticed anything you disagree with or think is plain wrong, please send a message here: <a href="{{site.data.links.comments_discord}}">{{site.data.links.comments_discord}}</a><p>
    <p>For recommendations, please send them in the format below so that we can add them more easily and have all the information needed to do so.</p>

    <p>(The source code for this site is located here: <a href="{{site.data.links.repository}}">{{site.data.links.repository}}</a>)</p>
</section>
