@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Noto+Sans);
$font-stack: "Noto Sans", Tahoma, Sans-Serif;
$font-stack-title: "Noto Serif", Georgia, Serif;
$color-bg: #efefef;
$color-primary: #333;
$color-border-med: rgba(80,80,80,0.75);
$color-plot: #d0fbd4;
$color-characters: #d0edfb;

html, body {
    margin: 0;
    padding: 0;
}
body {
    background: $color-bg;
    font: 10pt $font-stack;
    line-height: 1.2em;
    color: #222;
    padding:1em;
}

/* navigation */
nav {
    font-size: 1.1em;
}
nav ul {
    list-style: none;
    padding:0;
}
nav ul li {
    margin: 0.25em;
    display: inline-block;
}

/* legend */
.legend {
    display:inline-block;
    margin: 1em 3em;
}
.legend dd {
    padding: 1em;
    display: inline-block;
    margin:0 0.5em;
    box-shadow: 0 0 0.2em 0.1em rgba(0,0,0,0.75);
}
.legend .plot {
    background: $color-plot;
}
.legend .characters{
    background: $color-characters;
}

/* eroge blocks */
#eroge-list{
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
}
.eroge{
    padding:0.5em;
    margin:0.25em;
    background: #fff;
}
.eroge.plot {
    background: $color-plot;
}
.eroge.characters {
    background: $color-characters;
}
.eroge .title{
    margin:0em 0em 0.25em;
    font: 1.2em $font-stack-title;
}
.eroge .title small{
    display:block;
    font-size:0.75em;
}
.eroge .tags span{
    background: #fff;
    border: 1px solid #ccc;
    padding: 0em 0.5em;
    border-radius: 0.25em;
    line-height: 1.75em;
    white-space: nowrap;
    cursor:pointer;
}
.eroge dt{
    font-weight: bold;
}
.eroge dt:after{
    content: ":";
}
.eroge dd{
    margin: 0.25em 1em;
}
.eroge dd p{
    margin:0em;
}
.eroge dd p:not(:first-of-type){
    margin-top:1em;
}
.eroge .hookcode code{
    background: rgba(255,255,255,0.7);
    padding:0.1em;
    border-radius:0.1em;
    border: 1px solid rgba(0,0,0,0.4);
}

/*.eroge dl.info dt, .eroge dl.info dd{
    display:inline-block;
}*/
.eroge .image img{
    max-height: 10em;
    max-width: 10em;
    width:auto;
    height:auto;
    display:block;
    padding:1px;
    background:#fff;
    border:1px solid #555;
}

/* div stuff */
div.eroge {
    flex: 30em 0;
    position:relative;
    overflow:hidden;
    border-radius: 0.25em;
    border: 3px double $color-border-med;
}
/* banner thing */
div.eroge:before{
    content: "";
    position:absolute;
    top:8em;
    right:-4em;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    background: rgba(50,10,60,0.75);
    border: 3px double #fff;
    color: #fff;
    padding: 0.5em;
    width: 20em;
    text-align: center;
}
div.eroge.plot:before{
    content: "Plotge";
    background: transparentize(darken($color-plot, 70%),0.25);
}
div.eroge.characters:before {
    content: "Charage";
    background: transparentize(darken($color-characters, 70%),0.25);
}
div.eroge .image{
    float:right;
    margin: 1em;
}



/* table stuff */
table {
    border-collapse: collapse;
}
th {
    background: #fff;
    color: #222;
}
table .eroge td {
    padding: 0.25em;
}
table#eroge-list .image {
    float:none;
    text-align:center;
}
table#eroge-list .image img {
    margin:auto;
}
table#eroge-list tr {
    border-bottom: 1px solid $color-border-med;
    border-radius: 0px;
}
