<!-- <dt>Common vocab</dt><dd>{{ eroge.vocab }}</dd> -->
<dt>Reason for difficulty rating</dt><dd>{% for wefwef in include.eroge.rating_reason %}{{ wefwef | markdownify}}{% endfor %}</dd>
<dt>Potential pitfalls</dt><dd>{% for wefwef in include.eroge.pitfalls %}{{ wefwef | markdownify}}{% endfor %}</dd>
<dt>Recommended because</dt><dd>{% for wefwef in include.eroge.recommended %}{{ wefwef | markdownify}}{% endfor %}</dd>
