<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% css main.css %}
</head>
<body>
    <nav>
        <ul>
        {% assign nav_pages = site.pages | sort:"weight"  %}
        {% for p in nav_pages reversed %}
            <li>
                <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
                    {% if p.link %}{{ p.link }}{% else %}{{ p.title }}{% endif %}
                </a>
            </li>
        {% endfor %}
        </ul>
    </nav>

	{{content}}
</body>
</html>
